#Header {
    width: 100%;
    height: 650px;
    background-image: url("../../../../public/svgs/background.svg");
    background-repeat:no-repeat;
    background-size: cover;
    backdrop-filter: blur( 20.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    color: #fff;
    margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
    #Header {
        height: 1000px;
    }
}