#UpdatedInformation {
  display: flex;
  margin-top: 150px;
  height: 600px;
  background-image: linear-gradient( #152fb3 10%, #152fb3 100%);
  backdrop-filter: blur( 20.0px );
  -webkit-backdrop-filter: blur( 20.0px );
  color: #fff;
}

#UpdatedInformation #Img {
    margin-top: 250px;
    width: 400px;
    height: 400px;
}

#UpdatedInformation #content {
  max-width: 550px;
  margin-top: 180px;
  margin-left: 60px;
}

#UpdatedInformation #content h4 {
  font-size: 28px;
  text-align: start;  
  margin-bottom: 20px;
}
#UpdatedInformation #content p {
  text-align: right;
  font-size: 14px;
  text-align: start;  
}

#UpdatedInformation #content .Btn {
  width: 280px;
  position: absolute;
  left: 20px;
  text-align: center;
  display: block;
  margin-top: 25px;
  margin-left: 60px;
}


@media screen and (max-width: 992px) {
  #UpdatedInformation {
    height: 500px;
  }

  #UpdatedInformation h4 {
    margin-top: 80px;
  }
  
  #UpdatedInformation #content {
    max-width: 90%;
    margin-top: 40px;
    margin-left: 10px;
  }
  
  #UpdatedInformation #content h4 {
    font-size: 28px;
    text-align: start;  
    margin-bottom: 20px;
  }
  #UpdatedInformation #content p {
    text-align: right;
    font-size: 14px;
    text-align: start;  
  }
  

  #UpdatedInformation #imgContainer {
    margin-left: 0;
    margin-top: 100px;
    display: none;
  }
  
}

@media screen and (max-width: 400px) {
  #UpdatedInformation {
    margin-top: 100px;
  }  
  #UpdatedInformation h4 {
    margin-top: 70px;
    margin-bottom: 20px;
  }
}

