#BestCard {
  max-width: 400px;
  width: 500px;
  height: 460px;
  border-radius: 8px;
  padding: 20px;
  background: rgba( 255, 255, 255, 0.2 );
  background-clip: padding-box;
  backdrop-filter: blur(40px);
  z-index: 10;
  text-align: center;
  margin-top: 100px;
}

#BestCard h3 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#BestCard h4 {
  font-size: 22px;
  margin-top: 5px;
}

#BestCard p {
  font-size: 14px;
  margin-top: 25px;
}

#BestCard .btn {
  position: absolute;
  bottom: 20px;
  width: 70%;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (max-width: 992px) {
  #BestCard {
    width: 100%;
    margin-top: 180px;
  }
}

@media screen and (max-width: 400px) {
  #BestCard {
    height: 500px;
  }

  #BestCard .btn {
    width: 90%;
  }
}