#TextHeader {
    max-width: 100%;
    /* margin-left: 150px; */
    position: relative;
}

#TextHeader #HeadingTitle h1 {
    font-size: 55px;
    animation: moveInRight 1s ease-in;
    position: absolute;
    top: 250px;
}

/* #TextHeader #HeadingDescription {
    font-size: 14px;
    animation: moveInLeft 1s ease-in;
} */

@media screen and (max-width: 992px) {

    #TextHeader #HeadingTitle {
        top: 180px;
        font-size: 20px;
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }


    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}