.ButtonWhite {
  padding: 12px;
  border-radius: 100px;
  text-align: center;
  color: #2D3047;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: ease-in-out .2s;
}

.ButtonWhite:hover {
  background-color: transparent;
  color: #fff;
}

.outlinedWhite {
  border: .5px #fff solid;
  color: white;
}

.fullWhite {
  background: #fff;
  color: #000;
}

.outlinedWhite:hover {
  background: #fff;
  color: #000;
}

.fullWhite:hover {
  border: .5px #fff solid;
  color: white;
}

.ButtonOrange {
  padding: 12px;
  border-radius: 100px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: ease-in-out .2s;
  border: .5px #3468FE solid;
}

.ButtonOrange:hover {
  color: #3468FE;
  background-color: transparent;
}

.outlinedBlue {
  border: .5px #3468FE solid;
  color: #3468FE;
}

.outlinedBlue:hover {
  background: #3468FE;
  color: white;
}

.fullBlue {
  background-color:#3468FE;
  color: white;
}

.fullBlue:hover {
  border: .5px #3468FE solid;
  color: #3468FE;
}

@keyframes buttonHover {
  0% {

  }
}